
/.vs/Portfolio/v17
/AI/.vs
/Azure/.vs
/Azure/AzureKeyVault/bin/Debug/net8.0
/Azure/AzureKeyVault/obj
/Azure/AzurePortfolio/bin/Debug/net8.0
/Azure/AzurePortfolio/obj
/Azure/AzureSQLServer/bin/Debug/net8.0
/Azure/AzureSQLServer/obj
/.vs
/AI/AITraining.Desktop/bin/Debug/net8.0-windows
/AI/AITraining.Desktop/obj
/AI/AITraining/bin/Debug/net8.0-windows
/AI/AITraining/obj
/TFSData/.vs/TFSData
/TFSData/TFSData/bin/Debug/net8.0-windows
/TFSData/TFSData/obj
*.user
/TFSData/lib
/TFSData/TFSData/lib.zip
/iOS/Game/.vs
/iOS/Game/NumberGuessingGame/Assets.xcassets.zip
/TFSData/.vs/ProjectEvaluation
