<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FIs" value="AAA;BBBB" />
    <add key="Years" value="2018;2019;2020;2021" />
    <add key="IgnoreChangeSetIds" value="" />
    <add key="IgnoreCodeReviewIds" value="" />
    <add key="IgnoreCodeReviewResponseIds" value="" />
    <add key="IgnorePeople" value="" />
    <add key="IgnoreDescriptions" value="" />

    <add key="DataOutputPath" value="C:\Temp\CodeReviewData\" />
    <add key="DataOutputFileName" value="{0}-{1}-CodeReviewData.xlsx" />
    <add key="TFSUrl" value="" />
    <add key="CodeReviewQuery" value="SELECT * FROM WORKITEMS WHERE ID NOT IN ({0}) AND [SYSTEM.TEAMPROJECT] = '{1}' AND [SYSTEM.WORKITEMTYPE] = 'Code Review Request' AND ([SYSTEM.CREATEDDATE] >= '01/01/{2}' OR [CLOSED DATE] >= '01/01/{2}') AND ([SYSTEM.CREATEDDATE] &lt;= '12/31/{2}' OR [CLOSED DATE] &lt;= '12/31/{2}') ORDER BY Id" />
    <add key="CodeReviewResponseQuery" value="SELECT * FROM WORKITEMS WHERE ID NOT IN ({0}) AND [SYSTEM.TEAMPROJECT] = '{1}' AND [SYSTEM.WORKITEMTYPE] = 'Code Review Response' AND ([SYSTEM.CREATEDDATE] >= '01/01/{2}' OR [CLOSED DATE] >= '01/01/{2}') AND ([SYSTEM.CREATEDDATE] &lt;= '12/31/{2}' OR [CLOSED DATE] &lt;= '12/31/{2}') ORDER BY Id" />
  </appSettings>
</configuration>